div > *:nth-child(1) {
    background-color: orange;
}

div > *:nth-child(2) {
    background-color: rgb(242, 100, 48);
}

div > *:nth-child(3) {
    background-color: red;
}

div > *:nth-child(4) {
    background-color: brown;
}

div.inline > * {
    display: inline;
}

div.block > * {
    display: block;
}

div.inline-block > * {
    display: inline-block;
    width: 200px;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden; /* visible */
}

.opacity {
    opacity: 0; /* da 0 a 1 */
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.flex {
    display: flex;
    background-color: pink;
    flex-wrap: wrap; /* regola per andare a capo */
}

.grow > *{
    flex-grow: 1;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-evenly { justify-content: space-evenly; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }

.direction-reverse {
    flex-direction: row-reverse; /* row | column | column-reverse */
}

.align-stretch { align-items: stretch; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.align-baseline { align-items: baseline; }

/* https://grid.layoutit.com/ */