div {
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

div > *:nth-child(1) {
    background-color: yellow;
    width: 100px;
    height: 30px;
}

div > *:nth-child(2) {
    background-color: red;
     width: 100px;
}

div > *:nth-child(3) {
    background-color: orange;
    width: 100px;
}

.es-1 {
    justify-content: space-between;
}

.es-2 > :nth-child(2) {
    flex-grow: 2;
}

.es-3 > :nth-child(3) {
    flex-grow: 2;
}

.es-3 > :nth-child(2) {
    order: 1;
}

.es-4 {
    flex-direction: row-reverse;
}