div {
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

div > *:nth-child(1) {
    background-color: yellow;
    width: 100px;
    height: 50px;
}

div > *:nth-child(2) {
    background-color: red;
     width: 100px;
}

div > *:nth-child(3) {
    background-color: orange;
    width: 100px;
}

.justify-between {
    justify-content: space-between;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}